/* 1. Default (Light Mode / Cosmo) */
html[data-bs-theme="light"] h2,
body.quarto-light h2 {
  border-bottom: 1px solid #6c6c6c; /* A muted charcoal for dark backgrounds */
}

/* 2. Dark Mode (Darkly) Override */
html[data-bs-theme="dark"] h2, 
body.quarto-dark h2 {
  border-bottom: 1px solid #444444; /* A muted charcoal for dark backgrounds */
}

hr {
  border: none;
  border-top: 1px solid #4f4f4f; 
  opacity: 1;
}